<h1>Create New Heroine</h1>

  <% if flash[:message] %>
    <h2><%= flash[:message] %></h2>
  <% end %>

  <%= form_for @heroine do |f| %>
  <b><%= f.label "Name :"%></b><br>
  <%= f.text_field :name%><br>
  <b><%= f.label "Super Name :"%></b><br>
  <%= f.text_field :super_name %><br>
  <%# <%= f.label "Power :" %>
  <br><%= f.collection_select(:power_id, Power.all, :id, :name, prompt: "Select Heroine Power") %>
  <%= f.submit %>
  <% end  %>


  <h4><%= link_to "Back To Heroines Home Page", heroines_path  %></h4>
