<h1>New Hero!</h1>

<%= form_for @heroine do |f| %>
<%=f.label "Name"  %>
<%=f.text_field "name"  %>
<%=f.label "Super Name"  %>
<%=f.text_field "super_name" %>
<%=f.label "power"  %>
<%=f.collection_select :power_id, Power.all, :id, :name%>
<%=f.submit "Submit" %>
<% end %>

<%= button_to "Take me home", heroines_path, method: "get" %>
