<h1>New Heroine</h1>

<%= form_for @heroine do |f| %>
<p><%= f.label :name %><br>
<%= f.text_field :name %></p>
<p><%= f.label :super_name %><br>
<%= f.text_field :super_name %></p>
<p><%= f.label "Super Power" %><br>
<%= f.collection_select :power_id, @powers, :id, :name, prompt: true %></p>
<%= f.submit %>
<%end %>
